<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linter.oasys.announcement.dao.AnnouncementDao">

    <resultMap type="cn.linter.oasys.announcement.entity.Announcement" id="AnnouncementMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--通过ID查询单个公告-->
    <select id="select" resultMap="AnnouncementMap">
        select id, title, content, create_time, update_time
        from announcement
        where id = #{id}
    </select>

    <!--查询所有公告-->
    <select id="list" resultMap="AnnouncementMap">
        select id, title, content, create_time, update_time
        from announcement
    </select>

    <!--通过公告实体查询所有公告-->
    <select id="listByEntity" resultMap="AnnouncementMap">
        select id, title, content, create_time, update_time
        from announcement
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--插入单个公告-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into announcement(title, content, create_time, update_time)
        values (#{title}, #{content}, #{createTime}, #{updateTime})
    </insert>

    <!--通过ID更新公告-->
    <update id="update">
        update announcement
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过ID删除公告-->
    <delete id="delete">
        delete
        from announcement
        where id = #{id}
    </delete>

</mapper>