<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linter.oasys.auth.dao.UserDao">

    <resultMap type="cn.linter.oasys.auth.entity.User" id="UserMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="fullName" column="full_name"/>
        <result property="profilePicture" column="profile_picture"/>
    </resultMap>

    <!--通过ID查询单个用户-->
    <select id="selectById" resultMap="UserMap">
        select u.id, u.username, u.full_name, u.profile_picture
        from user u
        where u.id = #{id}
    </select>

</mapper>