<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linter.oasys.mapper.LeaveMapper">
    <resultMap id="LeaveResultMap" type="Leave">
        <id property="id" column="id"/>
        <result property="beginDate" column="begin_date"/>
        <result property="endDate" column="end_date"/>
        <result property="type" column="type"/>
        <result property="reason" column="reason"/>
        <result property="comment" column="comment"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
        </association>
    </resultMap>

    <insert id="askLeave" parameterType="Leave">
        insert into `leave`(user_id, begin_date, end_date, reason, type, status)
        values (#{user.id}, #{beginDate}, #{endDate}, #{reason}, #{type}, #{status})
    </insert>

    <select id="selectLeaves" resultMap="LeaveResultMap">
        select l.*, u.id, u.username from `leave` l, user u
        where l.user_id = u.id
        order by l.status
    </select>

    <update id="checkLeave">
        update `leave`
        set status = #{status},
            comment = #{comment}
        where id = #{id}
    </update>
</mapper>