<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linter.oasys.mapper.UserMapper">
    <resultMap id="UserResultMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="synopsis" column="synopsis"/>
        <result property="avatar" column="avatar"/>
        <result property="email" column="email"/>
        <association property="role" javaType="Role">
            <id property="id" column="role_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="insertUser" parameterType="User">
        insert into user(username, password, synopsis, avatar, email, role_id)
        values (#{username}, #{password}, #{synopsis}, #{avatar}, #{email}, #{role.id})
    </insert>

    <update id="updateUser">
        update user
        set username=#{username},
        role_id=#{role.id}
        <if test="password!=null">
            ,password=#{password}
        </if>
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete from user where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectUserById" resultMap="UserResultMap">
        select user.*, role.id as role_id, role.name
        from user,
             role
        where user.role_id = role.id
          and role.id = #{id}
    </select>

    <select id="selectUserByUsername" resultMap="UserResultMap">
        select user.*, role.id as role_id, role.name
        from user,
             role
        where user.role_id = role.id
          and username = #{username}
    </select>

    <select id="selectUsers" resultMap="UserResultMap">
        select user.*, role.id as role_id, role.name
        from user,
             role
        where user.role_id = role.id
    </select>
</mapper>